{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css"  href='{% static "resume/css/style.css" %}' rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    {%block head%}
    {%endblock head%}
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo">
                <a href="{%url 'home'%}" >Inforesume</a>
            </div>
            <nav class="nav">
                {%for nav in menu%}
                <a href="{%url nav.url_name %}" class="nav_links">{{nav.title}}</a>
                {%endfor%}
            </nav>
        </div>
    </div>
</header>
{%block body%}
{%endblock body%}
</body>
</html>